
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Person.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MovieTutorial.Default.PersonGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>